@font-face {
	font-family: 'Abraham Lincoln';
	src: url('fonts/AbrahamLincoln.ttf') format('truetype');
}

@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/functions";

/* base styles */
@import "pieces/base";
a {color: #b92d19;}
h1 {
	font-size: 3.75em;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	margin-bottom: 0;
}
header {
	text-align: center;
	padding-bottom: 1em;
	margin-bottom: 2em;
	p {font-size: 0.875em; }
}
footer {
	font-size: 0.6875em;
	text-align: center;
	padding: 1em;
	background-color: $background;
	@include mq(netbook) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
input[type="text"] {
	text-align: center;
	padding: 0.5em 2.25em;
	width: 50%;
	max-width: 15em;
	border-radius: 0.625em;
}
input[type="button"] {
	$blue : #3a7cdb;
	background-color: $blue;
	color: #eee;
	border: none;
	padding: 0.5em 2.25em;
	border-radius: 0.625em;
	@include transition(background-color, 0.3s);
	&:hover {
		cursor: pointer;
		text-shadow: 0 1px 3px #444;
		background-color: lighten($blue, 10%);
	}
}
@import "pieces/classes";
.content {
	padding-bottom: 2em;
	margin-bottom: 3em;
	aside {text-align: center; }
	@include mq(netbook) {margin-top: 6em;}
	@include transition(margin-top, 0.3s);
}
.more-info {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted;
	@include transition(border-bottom, 0.1s);
	&:hover {
		border-color: $background;
		cursor: pointer;
	}
}
.mimic_link {
	@extend a;
	padding-bottom: 0.2em;
	border-bottom: 1px solid;
	&:hover {cursor: pointer; color: lighten(#b92d19, 10%);}
	@include transition(color, 0.3s);
}



.app_details {
	font-size: 0.75em;
	font-style: italic;
}

#app {
	text-align: center;
	width: 50%;
	margin: 0 auto 4em;
	img {margin-bottom: 1em; }
	input[type="button"] {margin-bottom: 3em; }
}
.representatives {list-style-type: none; }
.representative_profile {
	margin-bottom: 3em;
	ul {margin-bottom: 1em; }
}

#zipcode-info {
	display: none;
	text-align: left;
	width: 75%;
	max-width: 35em;
	margin: 0 auto;
}
#address_form {
	display: none;
	margin-top: 2em;
}



