@font-face {
	font-family: 'Abraham Lincoln';
	src: url('fonts/AbrahamLincoln.ttf') format('truetype');
}

@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/functions";

/* base styles */
@import "pieces/base";
@import "pieces/classes";



/* nav (ui) styles */
nav {
	text-align:center;
	max-width: 24em;
	margin: 0 auto;
	p,span {
		font-size: 0.75em;
		font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
		text-transform: uppercase;
	}
	li {
		padding: 1em 1em 0.25em;
		vertical-align: top;
		color: #aaa;
		width: 32%;
		// background: rgba(25,0,255,0.3);
		@include transition(color, 0.3s);
		ul {
			width: 300%;
			display: none;
			// background: rgba(255,0,0,0.3);
			&:first-child {
			}
			li {
				margin: 0;
				padding: 0;
				width: 100%;
				text-align: left;
				&:hover {
					cursor: pointer;
				}
			}
		}
		&:hover {
			color: #fff;
			ul {
				display: block;
				height: auto;
			}
		}
	}
}
.icon-cog:before {content: "\f013"; }







/* app styles */
#app {
	text-align: center;
	width: 50%;
	margin: 0 auto 4em;
	img {margin-bottom: 1em; }
	input[type="button"] {margin-bottom: 3em; }
}
.app_details {
	font-size: 0.75em;
	font-style: italic;
}
#address_form {
	display: none;
	margin-top: 2em;
}
#zipcode-info { // "Don't Use Zipcodes"
	display: none;
	text-align: left;
	width: 75%;
	max-width: 35em;
	margin: 0 auto;
}

@import "pieces/dashboard";
@import "pieces/representative";

// plugins
@import "pieces/font-awesome";