/**
 * base styles
 */

body {
  -webkit-font-smoothing: antialiased;
  font: 100% Georgia, Baskerville, "Times New Roman", serif;
  line-height: 1.4;
  color: $text;
  background: $background;
  @include transition(background, 1s);
}
h1, h2, h3, h4, h5, h6 {
 font-family: "Abraham Lincoln";
}
p {
	// max-width: 35em;
	margin: 0 0 1em;
}
ul {
	padding-left: 0;
}
input {margin-bottom: 1em; }
a {color: #b92d19;}
h1 {
	font-size: 3.75em;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	margin: 0;
	@include transition(font-size, 0.3s);
}
input[type="text"] {
	text-align: center;
	padding: 0.5em 2.25em;
	width: 50%;
	max-width: 15em;
	border-radius: 0.625em;
}
input[type="button"],
.button {
	$blue : #3a7cdb;
	background-color: $blue;
	color: #eee;
	border: none;
	padding: 0.5em 2.25em;
	border-radius: 0.625em;
	@include transition(background-color, 0.3s);
	&:hover {
		cursor: pointer;
		text-shadow: 0 1px 3px #444;
		background-color: lighten($blue, 10%);
	}
}
header {
	text-align: center;
	padding: 1em 0;
	background-color: $background;
	margin-bottom: 2em;
	p {font-size: 0.875em; margin-bottom: 0; }
	@include transition(text-align, 0.3s);
}
footer {
	font-size: 0.6875em;
	text-align: center;
	padding: 0.5em;
	background-color: $background;
	p {margin:0;}
	@include mq(netbook) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}