.wrapper {
	position: relative;
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	@include mq(tablet) {width: 80%;}
	@include transition(width, 0.3s);
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {clear: both;}
.inline li {
	display: inline-block;
	li {
		display: block;
	}
}
.assistive-text {
	// based off of styles in wordpress theme twentyeleven
	position:absolute !important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px, 1px, 1px, 1px);
}
.assistive-text:active,
.assistive-text:focus {
	background:#eee;
	border-bottom:1px solid #ddd;
	color:#1982d1;
	clip:auto !important;
	font-size:12px;
	position:absolute;
	text-decoration:underline;
	top:0;
	left:7.6%;
}
.error {
	text-align: center;
	padding: 1em;
	background: #b92d19;
}
.strike-through {text-decoration: line-through;
	&:hover {text-decoration: none;}
}
.center {text-align: center;}
.more-info {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted;
	@include transition(border-bottom, 0.1s);
	&:hover {
		border-color: $background;
		cursor: pointer;
	}
}
.mimic_link {
	@extend a;
	padding-bottom: 0.2em;
	border-bottom: 1px solid;
	&:hover {cursor: pointer; color: lighten(#b92d19, 10%);}
	@include transition(color, 0.3s);
}
.content {
	padding-bottom: 2em;
	margin-bottom: 3em;
	aside {text-align: center; }
	@include mq(netbook) {margin-top: 6em;}
	@include transition(margin-top, 0.3s);
}
